@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
	--color-background: #0f131c;
	--color-foreground: #dfe2ef;
	--color-card: #1c1f29;
	--color-card-foreground: #dfe2ef;
	--color-popover: #1c1f29;
	--color-popover-foreground: #dfe2ef;
	--color-primary: #4df6e0;
	--color-primary-foreground: #003731;
	--color-secondary: #adc8f5;
	--color-secondary-foreground: #133155;
	--color-muted: #31353f;
	--color-muted-foreground: #849490;
	--color-accent: #262a34;
	--color-accent-foreground: #dfe2ef;
	--color-destructive: #ffb4ab;
	--color-destructive-foreground: #690005;
	--color-border: #3b4a47;
	--color-input: #3b4a47;
	--color-ring: #23dec9;
	--color-outline: #849490;
	--color-outline-variant: #3b4a47;
	--color-surface-dim: #0f131c;
	--color-surface-container-lowest: #0a0e17;
	--color-surface-container-low: #181b25;
	--color-surface-container: #1c1f29;
	--color-surface-container-high: #262a34;
	--color-surface-container-highest: #31353f;
	--radius: 0.5rem;
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
